@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
    font-family: "Parisienne";
    font-size: 28px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.breed-select {
    margin-inline: auto;

    margin-bottom: 25px;

    outline: none;
    border: 3px double darkgreen;
    border-radius: 5px;

    text-align: center;
    color: darkgreen;
    font-family: inherit;
    font-size: inherit;
}

.loader {
    text-align: center;
    color: lightgreen;
}

.error {
    text-align: center;
    color: lightcoral;
}

.cat-info {
    margin-inline: auto;
    width: 900px;
}

.cat-info-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.breed-image {
    display: block;
    border: 5px double blue;
    border-radius: 10px;
    width: 300px;
}

.breed-text-info {
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: darkblue;
}

.breed-temperament {
    color: darkred;
}